<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aggregator on Flask</title>
</head>
<body>
   <h1>Welcome to Aggregator</h1>
<script async src="https://telegram.org/js/telegram-widget.js?14" data-telegram-login="aggregator_notification_bot" data-size="large" data-userpic="false" data-onauth="onTelegramAuth(user)" data-request-access="write"></script>
<script type="text/javascript">
  function onTelegramAuth(user) {
    alert('Logged in as ' + user.first_name + ' ' + user.last_name + ' (' + user.id + (user.username ? ', @' + user.username : '') + ')');
  }
</script>
</body>
</html>
